<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Components | HolyStudio</title>
    </head>
    <body>
        <h1>Web Design System</h1>
        <h2>HolyStudio</h2>
        <p>A collection of design components of website <a href="https://holystudio.com/en">holystudio.com</a>.</p>
        
        <h3>Typography</h3>
            <ul>
                <li>body</li>
                <li>h1, h2, h3, ...</li>
                <li>a</li>
            </ul>
        <h3>Atoms</h3>
            <ul>
                <li>wordmark</li>
                <li>button</li>
                <li>nav icon</li>
                <li>slide show icon</li>
                <li>section heading</li>
                <li>action link</li>
            </ul>
        <h3>Section Header</h3>
        <h3>Article</h3>
        <h3>Section item</h3>
        <h3>Section List</h3>
        <h3>footer</h3>


    </body>
</html>